<!-- 我的资料 -->
<div class="per-mes-lab name">
    <label>
        <strong>姓名：</strong>
        <%=toUser.name%>
    </label>
</div>
<!-- <div class="per-mes-lab gender">
    <label>
        <strong>性别：</strong>
        <%=toUser.gender%>
    </label>
</div> -->
<div class="per-mes-lab intro">
    <label>
        <strong>电子邮箱：</strong>
        <%=toUser.email%>
    </label>
</div>
<div class="per-mes-lab intro">
    <label>
        <strong>签名：</strong>
        <%=toUser.signature%>
    </label>
</div>
<div class="per-mes-lab intro">
    <label>
        <strong>个人简介：</strong>
    </label>
    <p>
        <%=toUser.desc%>
    </p>
</div>