<div class="per-head layui-hide-xs">
    <img class="per-head-background" src="\<%=toUser.background%>" alt="">
    <div class="layui-row layui-col-md8 layui-col-md-offset2">
        <div class=" layui-col-md2">
            <div class="guide-square">
                <a href="/personal?id=<%=toUser._id%>">
                    <img class="per-head-avatar" src="\<%=toUser.avatar%>" alt="<%=toUser.name%>的博客">
                </a>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="per-mes-mini">
                <%if(thisUser){%>
                    <p class="per-name"><%=toUser.name%></p>
                <%}else{%>
                    <p class="per-name"><%=toUser.name%>的博客</p>
                <%}%>
                <P class="per-write"><%=toUser.signature%></P>
            </div>
        </div>
    </div>
</div>

