<fieldset class="layui-elem-field per-post1" data-id="<%=post._id%>">
    <legend><%=post.title%></legend>
    <div class="layui-field-box">
        <a href="/article/show/<%=post._id%>">
            <div class="post-content layui-row">
                <div class="layui-col-md4 layui-col-sm4">
                    <div class="per-post-cover">
                        <img src="/<%=post.cover%>">
                    </div>
                </div>
                <div class="layui-col-md8 layui-col-sm8 per-post-content">
                    <p><label style="font-size:25px;"><%=post.desc.substring(0,1)%></label><%=post.desc.substring(1,170)%> ...</p>
                </div>
            </div>
        </a>
        <div class="layui-row">
            <div class="per-post-mes layui-col-md9">
                <div class="post-mes-item"> <i class="layui-icon">&#xe637;</i><%=post.createAt%></div>
                <div class="post-mes-item"><i class="layui-icon">&#xe6c6;</i><%=post.applausec%>赞</div>
                <div class="post-mes-item"><i class="layui-icon">&#xe705;</i><%=post.readc%>浏览</div>
                <div class="post-mes-item"><i class="layui-icon">&#xe63a;</i><%=post.commentc%>评论</div>
                <div class="clear"></div>
            </div>
            <%if(thisUser){%>
            <div class="per-post-menu layui-col-md3 layui-row">
                <div class="layui-col-md6 layui-col-xs6 layui-col-sm6">
                    <a  href="/article/edit/<%=post._id%>"><button class="layui-btn layui-btn-small layui-btn-primary">编辑</button></a>
                </div>
                <div class="layui-col-md6 layui-col-xs6 layui-col-sm6">
                    <button class="article-delete layui-btn layui-btn-small layui-btn-primary" data-id="<%=post._id%>"><span data-aid="<%-post._id%>" id="del">删除</span></button>
                </div>
            </div>
            <%}%>       
        </div>
    </div>
</fieldset>