<!-- 我的资料 -->
<div class="per-mes-lab name">
    <label>
        <strong>姓名：</strong>
        <%=perDetail.name%>
    </label>
</div>
<div class="per-mes-lab gender">
    <label>
        <strong>性别：</strong>
        <%=perDetail.gender%>
    </label>
</div>
<div class="per-mes-lab intro">
    <label>
        <strong>电子邮箱：</strong>
        <%=perDetail.email%>
    </label>
</div>
<div class="per-mes-lab intro">
    <label>
        <strong>签名：</strong>
        <%=perDetail.signature%>
    </label>
</div>
<div class="per-mes-lab intro">
    <label>
        <strong>个人简介：</strong>
    </label>
    <p>
        <%=perDetail.desc%>
    </p>
</div>
<button class="layui-btn layui-btn-primary" onclick="javascrtpt:window.location.href='/personal/detailEdit'">编辑</button>