<!--<div class="search_article">-->
  <!--<h2 class="search_article_title"><%=article.title%></h2></a>-->
  <!--<hr class="layui-bg-gray">-->
  <!--<h3 class="search_article_desc"><%=article.desc%></h3>-->
<!--</div>-->


<fieldset class="layui-elem-field">
    <legend><a href="/article/<%=article._id%>"><%=article.title%></a></legend>
      <div class="layui-field-box">
          <%=article.desc%>
      </div>
</fieldset>
<hr class="layui-bg-gray">