<%- include('header')%>
<%- include('nav') %>



<div class="layui-row blog-main">
        <div class="layui-col-md10 layui-col-md-offset1">
            <div class="blog-content">
                    <div class="blog-title">
                        <h1>评论列表</h1>
                    </div>
            </div>
            <div class="blog-content">

                    <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>文章ID</th>
                                <th>内容</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%for(var i =0;i<comments.length;i++) { %>
                            <tr>
                                <td><%=comments[i]._id%></td>
                                <td><%=comments[i].article%></td>
                                <td><%=comments[i].content%></td>
                                <td><%=comments[i].meta.createAt%></td>
                            </tr>
                            <%}%>
                            </tbody>
                        </table>
                                                
            </div>
        </div>
</div>
    

<%- include('footer') %>