<%- include('header')%>

  <%- include('nav')%>

    <link rel="stylesheet" href="/stylesheets/default.css">
    <div class="article" class="article">
      <h1 class="title"><%-article.title%></h1>
      <div class="author">
        <a class="avatar" href="#"><img src= "//upload.jianshu.io/users/upload_avatars/4800119/5214d79f-7464-471c-aaa0-8946c22dfd4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96">
        </a>
        <div class="info">
          <span class="name"><a href="#"><%-article.author.name%></a></span>
          <!-- 关注用户按钮 -->
          <a class="btn btn-success follow"><span>关注</span></a>
          <!-- 文章数据信息 -->
          <div class="meta">
            <span class="publish-time"><%-article.meta.updateAt%></span>
            <span class="views-count">阅读 <%-article.readc%></span><span class="comments-count">评论 <%-article.commentc%></span>
            <span class="rewards-count ">赞赏 <%-article.applausec%></span></div>

        </div>
        <!-- 如果是当前作者，加入编辑按钮 -->
      </div>
      <%-article.content%>
    </div>


    <div class="full"></div>
    <div class="full"></div>

<% for(var i=0;i<comments.length;i++) { %>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://t.cn/RCzsdCq" width="64px" height="64px">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%-article.author.name%></h4>
        <%-comments[i].content%>
    </div>
</div>
<%}%>

    <div class="full"></div>
    <div class="full"></div>
<form class="layui-form" action="/comment/new" method="post">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">编辑评论</label>
        <div class="layui-input-block">
            <textarea name="comment[content]" placeholder="评价" class="layui-textarea"></textarea>
        </div>
    </div>
    <input type="hidden" name="comment[article]" value=<%-article._id%>>
    <input type="hidden" name="comment[from]" value="<%-user._id%>">
    <input type="hidden" name="comment[to]" value="<%-article.author%>">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="mes-edit-push layui-btn" lay-submit lay-filter="perFormPush">发表</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
    <%- include('footer') %>
