<%- include('header')%>
<%- include('nav') %>
<div class="row">
    <%var cnt=0,i=0%>
    <% while(cnt<articles.length) {%>
        <%if(cnt%3==0){%>
            <div class="row">
                <%for(;i==0||i%3!=0;i++) {%>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/<%-articles[i].cover%>" width="400px">
                        <div class="caption">
                            <h3 style="margin: 10px 0"><%=articles[i].title%></h3>
                            <p><%=articles[i].desc%></p>
                            <p>
                                <a href="/article/show/<%-articles[i].id%>" class="btn btn-primary" role="button">详情</a>
                            </p>
                        </div>
                    </div>
                </div>
                <%cnt++%>
                <%}%>
            </div>
        <%}%>
    <%console.log(articles.length,i,cnt)%>
    <%}%>
</div>


<%- include('footer') %>