<%- include('header')%>
<%- include('nav') %>
<link rel="stylesheet" href="/stylesheets/default.css">


<div class="layui-row content-footer">
        <div class="layui-col-md10 layui-col-md-offset1">
            <div class="blog-content">
                <div class="blog-title">
                    <h1>最热推荐</h1>
                </div>
                <fieldset class="layui-elem-field layui-field-title">
                    <div class="full"></div>
                    <div class="row">
                        <%for(var i=0;i<HotArticles.length;i++) {%>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="index-item-img">
                                    <img src="<%-HotArticles[i].cover%>">
                                </div>
                                <div class="caption">
                                    <h3><%-HotArticles[i].title%></h3>
                                    <p><strong>Author:&nbsp;<%-HotArticles[i].author.name%></strong></p>
                                    <p><a href="/article/<%-HotArticles[i].id%>" class="btn btn-primary" role="button">查看</a>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="layui-col-md10 layui-col-md-offset1">
            <div class="blog-content">
                <div class="blog-title">
                    <h1>最新推荐</h1>
                </div>
                <fieldset class="layui-elem-field layui-field-title">
                    <div class="full"></div>
                        <div class="row">
                            <%for(var i=0;i<NewArticles.length;i++) {%>
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <div  class="index-item-img">
                                        <img src="<%-NewArticles[i].cover%>">
                                    </div>
                                    <div class="caption">
                                        <h3><%-NewArticles[i].title%></h3>
                                        <p><strong>Author:&nbsp;<%-NewArticles[i].author.name%></strong></p>
                                        <p><a href="/article/<%-NewArticles[i].id%>" class="btn btn-primary" role="button">查看</a>
                                    </div>
                                </div>
                            </div>
                            <%}%>                            
                    </div>
                </fieldset>
            </div>                            
        </div>
</div>







<%- include('footer') %>


