<%- include('header')%>
    <%- include('nav')%>
        <%- include('components/per-head')%>
            <div class="nav-cahnge layui-row content-footer">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-col-md2">
                        <div class="per-nav">
                            <%-include('components/per-guide')%>
                        </div>
                    </div>
                    <div class="per-content layui-col-md10">
                        <%if(thisUser){%>
                            <div class="per-content-title">
                                <h1>个人设置</h1>
                            </div>
                            <div class="one-content">
                                <%-include('components/per-detail-edit')%>
                            </div>
                        <%}else{%>
                            <div class="per-content-title">
                                <h1>他的信息</h1>
                            </div>
                            <div class="one-content">
                                <%-include('components/per-detail')%>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%- include('components/return-top')%>
                <%- include('footer')%>