<%- include('header')%>
    <%- include('nav')%>
        <%- include('components/per-head')%>
            <div class="nav-cahnge layui-row content-footer" >
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-col-md2">
                        <div class="per-nav">
                            <%-include('components/per-guide')%>
                        </div>

                    </div>
                    <div class="per-content layui-col-md10">
                        <div class="per-content-title">
                            <h1>我的关注</h1>
                        </div>
                        <div>
                            <%for(var i=0;i<attention.length;i++){%>
                                <div class="one-content one-content-xs">
                                    <%-include('components/per-attention',{post:attention[i]})%>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/return-top')%>
                <%- include('footer')%>