<%- include('header')%>
<%- include('nav')%>
<%- include('components/per-head')%>
<div class="nav-cahnge layui-row blog-main" >
    <div class="layui-col-md8 layui-col-md-offset2">
        <div class="layui-col-md2">
            <div class="per-nav">
                <%-include('components/per-guide')%>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="blog-content">
                <div class="per-content-title">
                    <h1>我的关注</h1>
                </div>
            </div>
            <%for(var i=0;i<attention.length;i++){%>
            <div class="blog-content">
                <div class=" one-content-xs">
                    <%-include('components/per-attention',{post:attention[i]})%>
                </div>
            </div>
            <%}%>
        </div>     
    </div>
</div>
</div>
<%- include('components/return-top')%>
<%- include('footer')%>