<%- include('header')%>
    <%- include('nav')%>
        <%- include('components/per-head')%>
            <div class="nav-cahnge layui-row blog-main">
                <div class="layui-col-md8 layui-col-md-offset2">
                    <div class="layui-col-md2">
                        <div class="per-nav">
                            <%-include('components/per-guide')%>
                        </div>

                    </div>
                    <div class="layui-col-md10">
                        <div class="blog-content">
                                <div class="per-content-title">
                                        <%if(thisUser){%>
                                            <h1>时间线</h1>
                                        <%}else{%>
                                            <h1>他的时间线</h1>
                                        <%}%>
                                    </div>  
                                <div>
                                    <div class="one-content">
                                        <%- include('components/per-timeline')%>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>

            <%- include('components/return-top')%>
                <%- include('footer')%>